<div class="profile-container-3d">
    <div class="card-3d-wrapper" *ngIf="user; else loading">
        <div class="card-3d">
            <!-- Front Face -->
            <div class="card-face front">
                <div class="card-header-bg"></div>
                <div class="avatar-container">
                    <div class="avatar-cube">
                        <div class="face front">{{ user.name.charAt(0) }}</div>
                        <div class="face back"></div>
                        <div class="face right"></div>
                        <div class="face left"></div>
                        <div class="face top"></div>
                        <div class="face bottom"></div>
                    </div>
                </div>

                <div class="user-intro">
                    <h1>{{ user.name }}</h1>
                    <span class="role-badge" [class.admin]="user.role === 'admin'">{{ user.role }}</span>
                </div>

                <div class="info-grid">
                    <div class="info-item">
                        <span class="label">Username</span>
                        <span class="value">&#64;{{ user.username }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label">Email</span>
                        <span class="value">{{ user.email }}</span>
                    </div>
                    <div class="info-item full-width" *ngIf="user.address && user.address.length > 0">
                        <span class="label">Primary Address</span>
                        <div class="address-box">
                            <p>{{ user.address[0].street }}, {{ user.address[0].city }}, {{ user.address[0].state }}</p>
                            <p class="zip">{{ user.address[0].country }} - {{ user.address[0].zip_code }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #loading>
        <div class="loading-state">
            <div class="loader-3d"></div>
            <p>Loading Profile...</p>
        </div>
    </ng-template>
</div>