/* Animation */
.animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.signup-card {
    padding: 0 !important;
    overflow: hidden;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}